<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.smart_efb.efbapp.smartefb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityTwo" />


        <activity
            android:name=".ActivityConnectBook"
            android:label="@string/mainMenueElementId_1"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ActivityOurArrangement"
            android:label="@string/mainMenueElementId_2"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="smart.efb.ilink_comment" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ActivityOurArrangementComment"
            android:label="@string/arrangementComment"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity
            android:name=".ActivityOurGoals"
            android:label="@string/mainMenueElementId_3"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ActivitySettingsEfb"
            android:label="@string/mainMenueElementId_8"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>




        <activity
            android:name=".ActivityGridTest"
            android:label="GridTest"
            android:theme="@style/AppTheme.ActionBar">
        </activity>




        <activity
            android:name=".ActivityEfbSettings"
            android:label="@string/option_main_settings"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name=".ActivityEfbHelp"
            android:label="@string/option_main_help"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name=".ActivityEfbAbout"
            android:label="@string/option_main_about"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".ActivityEfbPaaring"
            android:label="@string/option_main_paaring"
            android:theme="@style/AppTheme.ActionBar" />





        <activity
            android:name=".ActivityThree"
            android:label="@string/title_activity_activity_three"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityFirstPage"
            android:label="@string/title_activity_first_page"
            android:theme="@style/AppTheme.ActionBar" />

    </application>

</manifest>
