<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.smart_efb.efbapp.smartefb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Connect Book -->
        <activity
            android:name=".ActivityConnectBook"
            android:label="@string/mainMenueElementId_1"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_efb.efbapp.smartefb.MainActivity" />

        </activity>

        <!-- Activity Our Arrangement -->
        <activity
            android:name=".ActivityOurArrangement"
            android:label="@string/mainMenueElementId_2"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_efb.efbapp.smartefb.MainActivity" />
        </activity>

        <!-- Activity Our Goals -->
        <activity
            android:name=".ActivityOurGoals"
            android:label="@string/mainMenueElementId_3"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_efb.efbapp.smartefb.MainActivity" />
        </activity>

        <!-- Activity Message -->
        <!--
        <activity
            android:name=".ActivityMessage"
            android:label="@string/mainMenueElementId_4"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        -->

        <!-- Activity Meeting -->
        <activity
            android:name=".ActivityMeeting"
            android:label="@string/mainMenueElementId_5"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_efb.efbapp.smartefb.MainActivity" />
        </activity>

        <!-- Activity Time Table -->
        <activity
            android:name=".ActivityTimeTable"
            android:label="@string/mainMenueElementId_6"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_efb.efbapp.smartefb.MainActivity" />
        </activity>

        <!-- Activity Prevetion -->
        <activity
            android:name=".ActivityPrevention"
            android:label="@string/mainMenueElementId_7"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_efb.efbapp.smartefb.MainActivity" />
        </activity>

        <!-- Activity FAQ -->
        <activity
            android:name=".ActivityFaq"
            android:label="@string/mainMenueElementId_8"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_efb.efbapp.smartefb.MainActivity" />
        </activity>

        <!-- Activity Emergency Help -->
        <activity
            android:name=".ActivityEmergencyHelp"
            android:label="@string/mainMenueElementId_9"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_efb.efbapp.smartefb.MainActivity" />
        </activity>

        <!-- Activity Settings -->
        <activity
            android:name=".ActivitySettingsEfb"
            android:label="@string/mainMenueElementId_10"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.smart_efb.efbapp.smartefb.MainActivity" />
        </activity>

        <!-- Dispatcher activity for deep links -->
        <activity
            android:name=".ActivityParseDeepLink">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="smart.efb.deeplink" android:host="linkin"/>
            </intent-filter>
        </activity>

        <!-- Alarm receiver for our goals -->
        <receiver android:name=".AlarmReceiverOurGoals"/>

        <!-- Alarm receiver for our arrangement -->
        <receiver android:name=".AlarmReceiverOurArrangement"/>

        <!-- Alarm receiver for meeting -->
        <receiver android:name=".AlarmReceiverMeeting"/>

        <!-- Alarm receiver for exchange service -->
        <receiver
            android:name=".AlarmReceiverExchangeAndEventService"
            android:process=":remote">
        </receiver>

        <receiver android:name=".AlarmReceiverRestartAlarmAfterTimeChange">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

        <!-- exchange service -->
        <service
            android:name=".ExchangeServiceEfb"
            android:exported="false"/>

    </application>

</manifest>
